<meta charset="UTF-8">
<title>CWM | <%- locals.title %></title>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css">
<link rel="stylesheet" href="../pages/main.css">