<nav>
    <h1>CWM.</h1>
    <ul>
        <li><a href="/">Acceuil</a></li>
        <li><a href="">About</a></li>
        <li><a href="">Contact</a></li>
        <li><a href="/signin">Sign In</a></li>
        <li><a href="">Sign up</a></li>
    </ul>
</nav>